@import "../../styles/__vars.scss";
.balanceDetails {
  margin-top: 36px;
  text-align: center;
  &__title {
    font-size: 24px;
    color: $baseColor-Text;
    font-weight: 900;
    margin-bottom: 24px;
  }
  &__itemsOuter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 0 28px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: $baseColor-Text;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      color: $baseColor-Text;
      font-size: 20px;
      font-weight: bold;
      margin-top: 7px;
      margin-bottom: 16px;
    }
    &__scanner {
      border-radius: 30px;
      background-color: $white;
      padding: 26px 31px;
      margin-bottom: 50px;
      img {
        width: 100%;
        max-width: 208px;
        height: 208px;
      }
    }
    &__wrapedText {
      max-width: 176px;
      padding: 12px 21px;
      background: transparent
        linear-gradient(180deg, #00aeef1a 0%, #367cc71a 100%) 0% 0% no-repeat
        padding-box;
      border: 1px solid #00aeef;
      border-radius: 30px;
      span {
        margin-left: 7px;
        max-width: 112px;
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $black;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
