
@import "../../../styles/__vars.scss";
.wallet {
  //   padding: 0 18px;
  margin-bottom: 16px;
 
  &__addressInput {
    label {
        color: #ffffff;
        opacity: 0.6;
        font-size: 12px;
        width: 100%;
        text-align: left;
        display: inline-flex;
        margin-bottom: 8px;
      }
    &__copyText {
      background: $baseColor-Text2;
      border-radius: 8px;
      padding: 16px 8px;
      display: flex;
      justify-content: space-between;
      gap: 15px;
      align-items: center;
      span {
        color: #6a84a0;
        font-size: 14px;
        word-break: break-all;
        text-align: left;
      }
      img{
        cursor: pointer;
      }
    }
  }
}
.btn_icon{
  margin-top: 100px;
}