.enterPassword {
    .commonHeadeing {
        margin-bottom: 30px;
        h1 {
            background: linear-gradient(91.26deg, #0071ff 0%, #54f0d1 100%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            margin: 0;
          }
          p{
            color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        padding-top: 32px;
          }
    }
    button{
        margin-top: 100px;
    }

}
