@import '../../styles/__vars.scss';
.swapDrawer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 47px;
    cursor: pointer;
    &:last-child {
        margin-bottom: 0;
    }
    &__left {
        display: flex;
        align-items: center;
        gap: 9px;
        &__textsTop {
            color: $baseColor-Text;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 4px;
        }
        &__textsBottom {
            color: $gray-6E737E;
            font-size: 12px;
            font-weight: 500;
        }
    }
}