@import "../../styles/__vars.scss";
.inputSimple {
  background-color: $inputBg;
  border-radius: 28px;
  padding: 14px 16px;
  border: 0;

  input {
    background-color: transparent;
    font-size: 14px;
    font-weight: normal;
    color: $baseColor-Text;

    &::placeholder {
      color: $baseColor-Text;
    }
  }
}
.inputField {
  &__coloredBg {
    background-color: $blue-08132C !important;

  }

  &__inputSelect {
    padding: 5px 5px 5px 16px !important;
  }
  &__input {
    background-color: $white;
    border-radius: 28px;
    padding: 5px 16px;
    border: 0;
    .ant-input {
      height: 30px !important;
    }

    .ant-input-wrapper {
      padding: 0;
      border: 0;
    }
  }
}

.boxStyle {
  text-align: left;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__label {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    opacity: 0.6;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.mb0 {
  margin-bottom: 0;
}

