@import "../../styles/__vars.scss";
.inputSimple {
  background-color: $inputBg;
  border-radius: 28px;
  padding: 14px 16px;
  border: 0;

  input {
    background-color: transparent;
    font-size: 14px;
    font-weight: normal;
    color: $baseColor-Text;

    &::placeholder {
      color: $baseColor-Text;
    }
  }
}
.inputField {
  &__inputSelect {
    padding: 5px 5px 5px 16px !important;
  }
  &__input {
    background-color: $white;
    border-radius: 28px;
    padding: 5px 16px;
    border: 0;
    .ant-input {
      height: 30px !important;
    }

    .ant-input-wrapper {
      padding: 0;
      border: 0;
    }
  }
}

.boxStyle {
  text-align: left;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__label {
    color: $black;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  // .scannerText {
  //   position: absolute;
  //   right: 17px;
  //   top: 40px;
  //   display: flex;
  //   img{
  //     margin-right: 13px;
  //     cursor: pointer;
  //   }
  //   p{
  //     padding-left: 12px;
  //     border-left: 2px solid $gray;
  //     cursor: pointer;
  //     color: #00AEEF;
  //   }
  // }
}
.mb0 {
  margin-bottom: 0;
}
