.editWallet {
  &__title {
    color: #223f70;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 16px;
    letter-spacing: 0px;
    line-height: 36px;
  }
  &__subTitle {
    color: #80838e80;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
  }
  .textInfoBaseColor {
    text-align: right;
    color: #00aeef;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
  }
  .setPassword__footerbuttons{
    margin-top: 30px;
  }
}
