@import "../../styles/__vars.scss";
.input_text{
    p{
        color: $gray;
        font-size: 16px;
        margin-bottom: 24px;
    }
    button{
        margin-top: 13px;
    }
    textarea{
        height: 136px;
        border-radius: 28px;
        margin-bottom: 36px;
        resize: none;
        padding: 15px;
    }
}