@import "../../styles/__vars.scss";
.viewphrases{
    &__iInner{
        display: flex;
        gap: 10px;
        background-color: $red-bglight;
        padding: 18px;
        margin: 10px 0px 36px 0;
        border-radius: 28px;
        p{
            color: $red;
            &:first-child{
                margin-bottom: 20px;

            }
        }
    }
    button{
        margin-bottom: 18px;
    }
    img{
        height: 20px;
        width: 20px;
    }
}

.logout {
    margin: 38px auto 0;
    background-color: transparent;
    border: 0;
    padding: 0;
    color: $gray;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    img {
        margin-right: 8px;
    }
}