.App {
  text-align: center;
  height: 100vh;
}
.WelcomeLayout {
  background: #eef3f9 0% 0% no-repeat padding-box;
  height: 100vh;
  &__container {
    padding: 120px 15px 40px;
    max-width: 400px;
    margin: 0 auto;
  }
  &__logo {
    margin-bottom: 24px;
    img  {
      width: 130px;
      height: 84px;
    }
  }
}
