@import "../../styles/__vars.scss";
.cardWhite {
  border-radius: 30px;
  background-color: $white;
  padding: 36px 24px 26px;

  // Welcome Screen Css Starts here//
  &__title {
    color: $baseColor-Text;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 16px;
    letter-spacing: 0px;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  &__subTitle {
    color: $gray-80838E-Dark;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 19px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  &__linkOuter {
    &__hr {
      height: 1px;
      background-color: #d7e0eb;
      margin: 19px 0;
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      color: $baseColor-Text;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      padding: 15px 8px;
      transition: 0.3s all;
      border-radius: 12px;
      &:hover {
        background-color: #80838e1a;
      }
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
    &__linkImage {
      display: flex;
      align-items: center;
      img {
        margin-right: 12px;
      }
    }
  }
  // Welcome Screen Css ends here //

  // Set Password Css Starts here //
  .setPassword {
    &__tabs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 14px;
      margin-bottom: 24px;
      &__itself {
        border-radius: 30px;
        background-color: $inputBg;
        height: 4px;
        width: 33.33%;
        &_active {
          background-color: $baseText-00AEEF;
        }
      }
    }
    &__title {
      color: $baseColor-Text;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 24px;
      letter-spacing: 0px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    &__validations {
      text-align: left;
      margin-top: 16px;
      margin-bottom: 16px;
      p {
        margin-bottom: 13px;

        display: flex;
        align-items: center;
        color: $baseColor-Text;
        font-size: 12px;
        font-weight: normal;
        &:last-child {
          margin-bottom: 0;
        }
      }
      img {
        margin-right: 7px;
      }
    }
    &__footerbuttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin: 36px 0 10px;
    }
    &__secretPharse {
      &__grayText {
        font-size: 16px;
        color: $gray-80838E-Dark;
        font-weight: normal;
        text-align: center;
        max-width: 341px;
        margin: 0 auto;
      }
      &__fieldSBg {
        background-color: $inputBg;
        border-radius: 28px;
        padding: 20px 16px 16px 20px;
        margin: 24px 0 36px;
      }
      &__fieldSBgInner {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        margin-bottom: 6px;
        flex-wrap: wrap;
        max-width: 224px;
        width: 100%;
        span {
          font-size: 16px;
          font-weight: 500;
          line-height: 16px;
          color: $baseColor-Text;
        }
      }
      &__copyField {
        height: 26px;
        width: 26px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent
          linear-gradient(180deg, #00aeef 0%, #367cc7 100%) 0% 0% no-repeat
          padding-box;
        margin-left: auto;
        border: 1px solid transparent;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
          border: 1px solid $baseText-00AEEF;
        }
      }
      &__confirmFieldSBg {
        background-color: $inputBg;
        border-radius: 28px;
        padding: 20px 16px 16px 20px;
        margin: 20px 0px;
      }
      &__confirmFieldSBgInner {
        display: flex;
        align-items: center;
        gap: 16px 12px;
        margin-bottom: 6px;
        flex-wrap: wrap;
        span {
          font-size: 16px;
          font-weight: 500;
          color: $baseColor-Text;
          padding: 5px 18px;
          background-color: $white;
          display: flex;
          align-items: center;
          border-radius: 17px;
            cursor: pointer;
            text-transform: capitalize;
          img {
            margin-left: 5px;
          }
        }
        &__bordered {
          justify-content: space-between;
          cursor: pointer;
          span {
            border: 1px dashed #999ca5;
            border-radius: 17px;
            color: #999CA5;
            width: calc(33% - 60px);
            justify-content: center;
          }
        }
      }
    }
  }
}

.currentItem {
  background-color:$inputBg !important;
}