@import '../styles/__vars.scss';
.fixedLayout {
  min-height: 100vh;
  background-color: rgb(238, 243, 249);
  display: flex;
  justify-content: center;
  &__inner {
    height: 710px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    box-shadow: 0px -3px 8px #223f7017;
    border: 1px solid #c4d7f8;
  }
  &__content {
    padding: 0 28px 24px;
    overflow-y: scroll;
    flex: 1 1 0%;
    &__paddingX {
      padding-left: 0;
      padding-right: 0;
      background-color: $inputBg;
    }
  }
}
